@font-face {
    font-family: FuturaPT;
    font-weight: 900;
    src: url('fonts/FuturaPTHeavy.woff') format('woff');
}

@font-face {
    font-family: OpenSans;
    font-weight: 300;
    src: url('fonts/OpenSans-Light.woff') format('woff');
}

.container {
    background-image: linear-gradient(55deg, #fcf5f6, #ebf8fc);
    padding: 25px;
}

.logo {
    width: 98px;
    height: 57px;
    margin: 0 auto;
}

.logo-img {
    width: 100%;
}

.title {
    margin: 78px 0 0;
    text-align: center;
    font-size: 54px;
    font-family: FuturaPT, sans-serif;
    font-weight: 900;
    color: #2d3e50;
}

.text {
    margin-top: 22px;
    text-align: center;
    font-size: 22px;
    font-family: OpenSans, sans-serif;
    font-weight: 300;
    line-height: 2.09;
    color: #2d3e50;
}
